@import "tailwindcss";

@theme {
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
  --font-jetbrains: var(--font-jetbrains);
  --color-lightHover: #D7EBF7;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}